<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Core" version="1.6.0" targetFramework="net462" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="Relativity.Api" version="13.0.7" targetFramework="net462" />
  <package id="Relativity.DataExchange.Client.SDK" version="1.11.7" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.8.1" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.OAuth2.Client" version="1.5.2" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="11.3.101.10" targetFramework="net462" />
  <package id="Relativity.Other" version="13.0.7" targetFramework="net462" />
  <package id="Relativity.OutsideIn" version="2020.3.0" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="11.2.214.8" targetFramework="net462" />
  <package id="Relativity.Telemetry.Client" version="9.4.164" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="3000.0.1" targetFramework="net462" />
  <package id="Relativity.Transfer.Client" version="7.2.7" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.32" targetFramework="net462" />
</packages>